My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        0
      ],
      "id": "6cc69cb5-0900-498b-aa9c-9980199a1a2c",
      "name": "Telegram Trigger",
      "webhookId": "f1eb9336-1c2c-4e83-9b24-bdd1bb51929a",
      "credentials": {
        "telegramApi": {
          "id": "MSDfWL7O6uLYMgY9",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are an AI assistant connected to tools.\n\nRules:\n- If the user asks to schedule, book, add, or create an event, you MUST use the Google Calendar tool.\n- If the user asks to send an email, notify someone, or message someone, you MUST use the Gmail tool.\n- Do NOT answer in plain text when a tool is required.\n- Extract date, time, title, email, and description from the user message. \nThe date and time is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "17a1e070-74f6-468c-b2f5-4d9fd0d0bc7f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        208
      ],
      "id": "afa6ccaf-8eaa-43f8-870c-fc1f88e9c72c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Zp9A4U1q5UbE0zBf",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "d296147b-5194-4c88-9548-73032b46f2b2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "adeniyisegun03@gmail.com",
          "mode": "list",
          "cachedResultName": "adeniyisegun03@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        208
      ],
      "id": "aafba11f-8d05-4c57-9f1a-bdedd8e983a9",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7xc3VOlzNppchDVG",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        624,
        208
      ],
      "id": "340b1f96-e568-4231-9a8d-fce7ddb3ab33",
      "name": "Send a message in Gmail",
      "webhookId": "8bd29c82-1dc4-4116-9440-b9d50371e673",
      "credentials": {
        "gmailOAuth2": {
          "id": "qWg7B6usdfGczMcU",
          "name": "Segun's google account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this to get contact information. Read, update and write data to Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "13u1A-_XdfvZEbOSvJ9ql7f6t9nQYuI02BeN9iqlloVs",
          "mode": "list",
          "cachedResultName": "Lead Qualification & Scoring (Sales)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13u1A-_XdfvZEbOSvJ9ql7f6t9nQYuI02BeN9iqlloVs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13u1A-_XdfvZEbOSvJ9ql7f6t9nQYuI02BeN9iqlloVs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        208
      ],
      "id": "c4d86c57-f382-4087-b5ed-08ea0194bfec",
      "name": "Get Contacts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KxYJCFILFmXzN8DD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "2f814d7b-cf3e-4403-8482-ecffb91b190f",
      "name": "Send a text message",
      "webhookId": "43d5d1d8-fe05-4145-9c7c-d825ed7d861c",
      "credentials": {
        "telegramApi": {
          "id": "MSDfWL7O6uLYMgY9",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "2cb2af46-8ef2-4a71-95a3-fc6fddf5f2a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "698d8c8551b828fba7f316f47e5151f6dbe53278d55e0b937c0560f3be656d83"
  },
  "id": "jdC6AWvOwTwV1VkS",
  "tags": []
}